@charset "utf-8";

@import '~assets/styles/scss/reset';

html {
  font-family: $font-family;
  font-size: 16px;
  word-spacing: 0;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
